<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" fileName="file.txt" />
		<target name="logconsole" xsi:type="Console" />
		<target name="database" xsi:type="Database">
			<connectionString>server=jiashili-PC;Database=test;user id=JIASHILI-PC\admin;password=00</connectionString>

			<commandText>
				insert into dbo.Log ( MachineName, Logged, Level, Message, Logger, Exception ) 
				values ( @MachineName, @Logged, @Level, @Message, @Logger, @Exception );
			</commandText>

			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="database" />
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>